{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/accounts.css">
{% endblock %}

{% block content %}
<h1>Tell {{ site.name }} about yourself!</h1>

<form method="POST">
    <p>
      <label for="username" class="initial-preferences-label">{{ username_form.username.label }}:</label>
      {{ username_form.username }}
      <span class="initial-preferences-errors">{{ username_form.username.errors.0 }}</span>
    </p>

    <p>
      <label for="email" class="initial-preferences-label">{{ email_form.email.label }}:</label>
      {{ email_form.email }}
      <span class="initial-preferences-errors">{{ email_form.email.errors.0 }}</span>
    </p>

    <p>
      <label for="display_name" class="initial-preferences-label">{{ display_name_form.display_name.label }}:</label>
      {{ display_name_form.display_name }}
      <span class="initial-preferences-errors">{{ display_name_form.display_name.errors.0 }}</span>
      <br /><span class="initial-preferences-help-text">{{ display_name_form.display_name.help_text }}<span>
    </p>
    <input type="submit" value="{% trans "Save" %}"/>
</form>

{% endblock %}
