{% extends "site_base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Preferences" %}</h1>
<h3>{% trans "Change your password" %}</h3>
<form method="POST">
    <table class="input-form">
    {{ password_form.as_table }}
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="{% trans "Save" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="password_form" value="1" />
</form>

<h3>{% trans "Change your Email address" %}</h3>
<form method="POST">
    <table class="input-form">
    {{ email_form.as_table }}
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="{% trans "Save" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="email_form" value="1" />
</form>

<h3>{% trans "Change your display name" %}</h3>
<form method="POST">
    <table class="input-form">
    {{ display_name_form.as_table }}
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="{% trans "Save" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="display_name_form" value="1" />
</form>


<h3>{% trans "Internationalization" %}</h3>
<form method="POST">
    <table class="input-form">
    {{ i18n_form.as_table }}
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="{% trans "Save" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" name="i18n_form" value="1" />
</form>

{#<h3>{% trans "Registered Applications" %}</h3>#}
{% endblock %}
