{% extends "site_base.html" %}

{% load i18n %}

{% block sidebar %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sidebar.css" media="screen">
{% if author %}
<form method="GET" name="searchForm" action="">
    {% if request.GET.query %}
    <input type="search" id="search" name="query" accesskey="s" value="{{request.GET.query}}">
    {% else %}
    <input type="search" id="search" class="dim" name="query" accesskey="s" placeholder="{% trans "Search your notes" %}" value="{% trans "Search your notes" %}">
    {% endif %}
</form>
{% endif %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(document).ready(function() {
    var undim = function () {
        $("#search").removeClass("dim")
                    .val("")
                    .unbind("focus", undim);
    }

    if($("#search").attr('class') == "dim") {
        $("#search").bind("focus", undim);
    }

    $('#search').keyup(function(e) {
        // enter key
        if (e.keyCode == 13) {
            document.searchForm.submit();
        }
    });
});
</script>
{% endblock %}
