{% extends 'notes/base.html' %}

{% load i18n %}
{% load truncate %}

{% block title %}{% blocktrans with query|truncatechars:20 as q %}Notes matching "{{ q }}"{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block content-container %}
<h1>{% trans "Search" %}</h1>
<form method="GET">
    <table class="input-form">
        {{ form.as_table }}
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="{% trans "Search" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% include "notes/note_list_snippet.html" %}
{% endblock %}
