{% load i18n %}{% load humanize %}{% load pagination_tags %}
<table class="object_list" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th></th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Last Modified" %}</th>
            <th>{% trans "Visibility" %}</th>
        </tr>
    </thead>
    <tbody>
{% autopaginate notes %}
{% for note in notes %}
        <tr class="note-list-row">
{% if note.pinned %}
            <td class="icon"><img src="{{ MEDIA_URL }}img/pin-down_16.png" width="16" height="16" alt="Pinned"/></td>
{% else %}
            <td class="icon"><img src="{{ MEDIA_URL }}img/note_16.png" width="16" height="16" alt="Not pinned"/></td>
{% endif %}
            <td><a href="{{ note.get_absolute_url }}">{{ note.title|safe }}</a></td>
            <td>{{ note.user_modified|naturalday|title }}</td>
            <td>{{ note.get_permissions_display }}</td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
{% ifnotequal paginator.num_pages 1 %}
            <td colspan="4">{% paginate %}</td>
{% else %}
            <td colspan="4">{% blocktrans count paginator.count as c %}{{ c }} result found{% plural %}{{ c }} results found{% endblocktrans %}</td>
{% endifnotequal %}
        </tr>
    </tfoot>
</table>
