{% extends 'notes/base.html' %}

{% load i18n %}
{% load notes %}

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/DUI.js" charset="utf-8"></script>
{# Disable funcooker for now #}
{% comment %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/funcooker.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollfollow.js" charset="utf-8"></script>
{% endcomment %}
{% endblock %}

{% block title %}{{ title|safe }} | Notes | {{ block.super }}{% endblock %}

{% block sidebar %}
{{ block.super }}
{% user_notes_list request author as list_notes %}
<div id="sidebar-note-list">
    <ul>
        {% for n in list_notes %}
        <li class="note-item{% if n.pinned %} pinned{% endif %}{% ifequal n note %} selected{% endifequal %}"><a href="{{ n.get_absolute_url }}{% if request.GET.query %}?query={{request.GET.query}}{% endif %}">{{ n.title|safe }}</a></li>
        {% endfor %}
        {% if request.GET.query %}
        <div style="text-align: center; margin: 3px;">
            <a href="."><input type="button" value="{% trans "Clear Search" %}" style="width:90%;"></a>
        </div>
        {% else %}
        <li class="more-item"><a href="{% url note_list author.username %}">{% trans "More Notes..." %}</a></li>
        {% endif %}
    </ul>
    <hr />
    <ul>
{# Enable when we allow editing #}
{% comment %}
        <li id="new-note"><a href="#">New Note...</a></li>
{% endcomment %}
    </ul>
</div>
<div id="sidebar-notebook-list">
    <h3>{% trans "Notebooks" %}</h3>
    <ul> 
{% user_notebook_list request author as all_notebooks %}
{% include "notes/notebook_list_snippet.html" %}
        <li class="more-item"><a href="#">{% trans "More Notebooks..." %}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<table id="content-layout" cellspacing="0" cellpadding="0">
    <tr>
        <td id="note">
            <h1>{{ title|safe }}</h1>
            <div id="funcooker">
                {{ body|safe }}
            </div>
        </td>
        <td>
{# Disable funcooker for now #}
{% comment %}
            <div id="toolbar">
                <h3>Text</h3>
                <p id="toolbar-text">
                    <a href="javascript:fc.normalStyle();" title="Normal">A</a>
                    <a href="javascript:fc.bold();" title="Bold"><b>A</b></a>
                    <a href="javascript:fc.strikethrough();" title="Strikethrough"><strike>A</strike></a>
                    <a href="javascript:fc.highlight();" title="Highlight"><span class="note-highlight">A</span></a>
                    <a href="javascript:fc.fixedWidth();" title="Fixed Width"><span class="note-monospace">A</span></a>
                </p>
                <h3>Font Size</h3>
                <p class="note-small"><a href="javascript:fc.small();">Small</a></p>
                <p><a href="javascript:fc.normalSize();">Normal</a></p>
                <p class="note-large"><a href="javascript:fc.large();">Large</a></p>
                <p class="note-huge"><a href="javascript:fc.huge();">Huge</a></p>
                <h3>Formatting</h3>
                <p><a href="#">Bullets</a></p>
                <p><a href="#">Increase Indent</a></p>
                <p><a href="#">Decrease Indent</a></p>
                <h3>Actions</h3>
                <p><a href="#">Link</a></p>
                <p><a href="#">Delete</a></p>
                <p><a href="#">History</a></p>
                <p><a href="#">Sharing</a></p>
            </div>
{% endcomment %}
        </td>
    </br>
</table>
{% comment %}
<script type="text/javascript">
var fc = null;
$(document).ready(function() {
    fc = new FunCooker("#funcooker");

    $('#toolbar').scrollFollow({
        speed: 200,
        offset: 10,
        container: 'content',
    });
});
</script>
{% endcomment %}
{% endblock %}
