{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}{% trans "Create an account" %} | {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "Create an account" %}</h1>
<form method='POST'>
    <table class="input-form">
        <tbody>
            {{ form.as_table }}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <input method="submit" type="submit" value="{% trans "Create Account" %}"/>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% endblock %}
