{% load gravatar %}
{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" media="screen">
{% if DEBUG %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js" charset="utf-8"></script>
{% else %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.min.js" charset="utf-8"></script>
{% endif %}
{% block extra_head %}
{% endblock %}
</head>

<body>
    <div id="header-container">
        <div id="header-logo">
            <a href="/">
                <img src="{{ MEDIA_URL }}img/tomboy-logo.png" alt="{% trans "tomboy: simple note-taking." %}"/>
            </a>
        </div>
        <div id="header-avatar">
{% if user.is_authenticated %}
            <a href="{% url notes.views.note_index user.username %}">{% gravatar_img_for_user user 64 %}</a>
{% endif %}
        </div>
        <div id="header-auth">
{% if user.is_authenticated %}
            <h3>{{ user }}</h3>
            <p><a href="">{% trans "preferences" %}</a> / <a href="{% url django.contrib.auth.views.logout %}">{% trans "log out" %}</a></p>
{% else %}
            <p>{% trans "hello stranger! care to " %}<a href="{% url django.contrib.auth.views.login %}">{% trans "log in" %}</a>{% trans "?" %}</p>
            <p><small>{% trans "not a member yet?" %} <a href="{% url registration.views.register %}">{% trans "Sign up." %}</a></small></p>
{% endif %}
        </div>
        <div class="clear"></div>
        </div>
    </div>
    <table id="container" cellspacing="0" cellpadding="0">
        <tr>
            <td id="sidebar-container">
                <div id="sidebar">
{% block sidebar %}
{% endblock %}
                </div>
            </td>
            <td id="content">
{% block content %}
{% endblock %}
            </td>
        </tr>
    </table>
    </div>

    <div id="footer">
{% block footer %}
{% endblock %}
    </div>
{% block extra_body %}
{% endblock %}
</body>
</html>
