<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.css" media="screen">
{% block extra_head %}
{% endblock %}
</head>

<body>
    <div id="header-container">
        <div id="header-logo">
            <img src="{{ MEDIA_URL }}img/tomboy-logo.png" alt="tomboy: simple note-taking."/>
        </div>
        <div id="header-avatar">
{% if user.is_authenticated %}
            <img src="{{ MEDIA_URL }}img/blank-avatar.png" width="73" height="73" alt="Your Avatar"/>
{% endif %}
        </div>
        <div id="header-auth">
{% if user.is_authenticated %}
            <!-- registration login form -->
            <h3>{{ user }}</h3>
            <p><a href="">preferences</a> / <a href="{% url django.contrib.auth.views.logout %}">log out</a></p>
{% else %}
            <p>care to <a href="{% url django.contrib.auth.views.login %}">log in</a>?</p>
{% endif %}
        </div>
        <div class="clear"></div>
        </div>
    </div>
    <div id="content-container">
        <div id="sidebar">
<br><br>
{% block sidebar %}
{% endblock %}
        </div>
        <div id="content">
<br><br>
<br><br>
{% block content %}
{% endblock %}
        </div>
        <div class="clear"></div>
    </div>

    <div id="footer">
    </div>
{% block extra_body %}
{% endblock %}
</body>
</html>
