html, body {
    background-color: #94c7b6;
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a, a:link, a:hover, a:active, a:visited {
    color: #d3643b;
    text-decoration: underline;
}

h2 {
    color: #d3643b;
    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
}

.clear {
    clear: both;
}

#header-container {
    margin: 20px;
}

#header-logo {
    float: left;
}

#header-auth {
    float: right;
    margin: 0.5em 1em 0 0;
    text-align: right;
    vertical-align: middle;

    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
    whitespace: nowrap;
}

#header-auth p, #header-auth h3 {
    margin: 0;
    padding: 0;
}

#header-avatar {
    float: right;
    margin-left: 5px;
}

#header-avatar img {
    border: 2px solid #FFFFFF;
}

table#container {
    padding: 20px;
    width: 100%;
    border: 0;
}

#sidebar-container {
    width: 20%;
    min-width: 250px;
    max-width: 500px;
    
    margin: 0;
}

#sidebar {
    margin-top: 20px;
    background-color: #403b33;
    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
}

#sidebar h3 {
    font-family: Verdana, Candara, Tahmoa, Arial, sans-serif;
    text-transform: uppercase;
}

#sidebar input#search {
    width: 250px;
    margin: 4px;
    padding: 4px 4px 4px 35px;
    
    border: 1px solid #bababa;
    background: #73685d url('/site_media/img/search.png') center left no-repeat;
    
    color: #FFFFFF;
}

#sidebar .selected {
    background-color: #d6e1c7;
    color: #545247
}

#sidebar .selected h3 {
    color: #000000;
}

#sidebar #notebooks {
    background-color: #8ecbd2;
    color: #ffffff;
}

#sidebar #notebooks h3 {
    color: #578186;
}

#sidebar #notebooks .more {
    color: #b8dee3;
}

#content-container {
    width: 80%;
    margin: 0;
}

#content {
    background-color: #edece6;
}

#content h2, #content p {
    padding-left: 6px;
}

#footer {
    height: 500px;
    background-color: #4e6960;
}
