html, body {
    background-color: #4e6960;
    font-size: 0.95em;
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a, a:link, a:hover, a:active, a:visited {
    color: #d3643b;
    text-decoration: underline;
}

h1 {
    color: #d3643b;
    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
}

.clear {
    clear: both;
}

#body {
    background-color: #94c7b6;
    padding: 10px;
}

#header {
    width: 100%;
    border-spacing: 10px;
}

#header-logo {
    width: 251px;
}

#header-auth {
    margin: 0.5em 1em 0 0;
    text-align: right;
    vertical-align: middle;

    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
    white-space: nowrap;
}

#header-auth p, #header-auth h3 {
    margin: 0;
    padding: 0;
}

#header-avatar {
    margin-left: 5px;
    width: 64px;
}

#header-avatar img {
    border: 2px solid #FFFFFF;
}

table#content-container {
    padding: 0 10px 20px 10px;
    width: 100%;
    border: 0;
}

td#sidebar-container {
    width: 15%;
    
    margin: 0;
    vertical-align: top;
}

#sidebar {
    margin: 20px 0 20px 0;
    padding-bottom: 20px;

    background-color: #403b33;
    font-family: Trebuchet MS, Calibri, Verdana, Arial, sans-serif;
    font-size: 1.05em;
}

#sidebar h3 {
    font-family: Verdana, Candara, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
}

#sidebar input#search {
    width: 250px;
    margin: 4px;
    padding: 3px 3px 3px 30px;
    
    border: 1px solid #bababa;
    background: #73685d url('/site_media/img/search.png') center left no-repeat;
    
    color: #FFFFFF;
}

#sidebar input#search.dim {
    color: #aba49e;
    font-style: italic;
}

#sidebar hr {
    height: 1px;
    margin: 0.6em 0;
    background-color: #aba49e;
    border: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar li {
    padding: 0.5em 0 0.25em 14px;
    list-style-position: inside;
}

#sidebar li a {
    position: relative;
    top: -0.2em;

    color: #ffffff;
    text-decoration: none;
}

#sidebar .more-item {
    list-style-type: none; 
    padding-left: 37px;
}

#sidebar .more-item a {
    text-decoration: underline;
}

#sidebar-note-list, #sidebar-notebook-list {
    margin: 3px 0 0 0;
}

#sidebar-note-list .note-item {
    list-style-image: url('/site_media/img/note_16.png'); 
    padding-right: 12px;
}

#sidebar-note-list .pinned {
    list-style-image: url('/site_media/img/pin-down_16.png'); 
}

#sidebar-note-list .selected {
    background-color: #d6e1c7;
    color: #545247;
}

#sidebar-note-list .selected::before {
    content: ' ';
    float: right;
    display: block;
    background-color: #edece6;
    margin-top: -7.5px;
    margin-right: -23.5px;
    border-top: 15.5px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 15.5px solid transparent;
    border-left: 12px solid #d6e1c7;
}

#sidebar-note-list .selected a {
    color: #000000;
}

#sidebar-note-list #new-note {
    list-style-image: url('/site_media/img/note-new_16.png'); 
}

#sidebar-note-list .more-item a {
    color: #8c8985;
}

#sidebar-notebook-list {
    margin: 0;
    background-color: #8ecbd2;
    color: #ffffff;
}

#sidebar-notebook-list h3 {
    margin: 0.3em 14px;
    font-size: 1.0em;
    color: #578186;
    padding-top: 7px;
}

#sidebar-notebook-list .notebook-item {
    list-style-image: url('/site_media/img/notebook_16.png'); 
}

#sidebar-notebook-list .more-item a {
    color: #bbe0e4;
}

#content {
    padding: 12px 12px 12px 24px;
    background-color: #edece6;
    vertical-align: top;
    font-family: Candara, Verdana, Tahmoa, Arial, sans-serif;
}

#content h1 {
    margin: 0.2em 0 0.5em 0;
}

#content-layout td {
    padding: 8px;
    vertical-align: top;
}

table#content-layout {
    width: 100%;
}

#toolbar {
    position: relative;
    float: right;
    width: 150px;
    padding: 8px;

    background-color: #dbe1c7;
    border: 1px solid #b7beab;

    color: #6d7063;
}

#toolbar a, #toolbar a:link, #toolbar a:active, #toolbar a:visited {
    color: #6d7063;
    text-decoration: none;
}

#toolbar:first-child {
    margin-top: 0;
    padding-top: 0;
}

#toolbar h3 {
    margin: 0.5em 0 0.3em 0;

    font-family: Candara, Verdana, Tahmoa, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #acb5a0;
}

#toolbar #text {
    color: #000000;
    font-size: 1.2em;
}

#toolbar-text a, #toolbar-text a:link, #toolbar-text a:active, #toolbar-text a:visited {
    color: #000000;
    text-decoration: none;
    margin-right: 0.5em;
}

#toolbar p {
    margin: 0.2em 0 0.2em 1em;
}

#footer {
    height: 50px;
}

.form-field th {
    text-align: left;
}

/* Note-specific styles */
#note h1 {
    text-decoration: underline;
}

.note-datetime {
    color: #666666;
    font-style: italic;
    font-size: 0.8em;
}

.note-highlight {
    background-color: yellow;
}

.note-monospace {
    font-family: Consolas, monospace;
}

.note-size-small {
    font-size: 0.8em;
}

.note-size-large {
    font-size: 1.5em;
}

.note-size-huge {
    font-size: 2.0em;
}

a.link-internal {
    color: #204A87;
}

a.link-broken {
    color: #555753;
}

a.link-url {
    color: #3465A4;
}

table.input-form {
    border-spacing: 13px;
}

.input-form label {
    text-align: left;
    float: left;
}

.input-form th {
    vertical-align: top;
}

.input-form td {
    font-size: 0.7em;
    vertical-align: top;
}

.object_list {
    width: 800px;
}

.object_list thead tr {
    background-color: #73685d;
    font-family: Verdana, Candara, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.object_list tfoot tr {
    background-color: #403b33;
    text-align: center;
    color: #ffffff;
    height: 1.7em;
}

.object_list tfoot a {
    color: #8ecbd2;
}

.object_list td {
    padding: 5px 3px;
}

.row-even {
    background-color: #d4e1d9;
}

.row-odd {
    background-color: #edece6;
}

.object_list td.icon {
    padding: 0;
    text-align: center;
}

.object_list td.icon img {
    vertical-align: middle;
}

.object_list div.paginator {
    text-align: center;
}

.center {
    text-align: center;
}
