{% extends "site_base.html" %}

{% load i18n %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/accounts.css">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/openid.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/config.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/openid-jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        openid.img_path = '{{ MEDIA_URL }}img/accounts/openid/';
        openid.init('openid_identifier');
    });
</script>

{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }} center"{% endif %} style="color: red;">{{ message }}</div>
<br />
{% endfor %}
{% endif %}

<div id="login-leftcolumn">
    <h3>
        {% if user.is_authenticated %}
            {% trans "Add a New OpenID Identity to Your Account" %}
        {% else %}
            {% trans "Log in with your OpenID" %}
        {% endif %}
    </h3>

    <form name="fopenid" action="{{ action }}" method="post">
        <table>
            <tr>
                <td style="width: 100px;"><b>{% trans "OpenID:"%}</b></td>
                <td>{{ form.openid_identifier }}</td>
            </tr>
        </table>
        <input name="bsignin" type="submit" value="{% trans "Log in with your OpenID" %}">
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
    </form>
    <br />
    <div>{% trans "Don't have an OpenID yet? Get one " %}<a href="http://openid.net/get-an-openid/" alt="Get an OpenID">{% trans "here!" %}</a></div>
</div>

<div id="login-rightcolumn">
    <h3>{% trans "...or use one of the following services:" %}</h3>
    <br />
<!-- Simple OpenID Selector -->
<form action="{{ action }}" method="post" id="openid_form">
    <!--<input type="hidden" name="action" value="verify" />-->

    <fieldset>
            <legend>Sign-in or Create New Account</legend>
            <div id="openid_choice">
                <p>Please click your account provider:</p>
                <div id="openid_btns"></div>
            </div>
            <div id="openid_input_area">
                <input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
                <input id="openid_submit" type="submit" value="Sign-In"/>
            </div>
            <noscript>
            <p>OpenID is service that allows you to log-on to many different websites using a single indentity.
            Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
            </noscript>
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
    </fieldset>
</form>
</div>

<!-- the following div makes sure the float layout works correctly -->
<div style="clear: both;"></div>

<br />
<hr>
<div style="display: block;"><small>{% trans "...or " %} <a href="{% url auth_login %}">{% trans "log in the old way" %}</a>{% trans "." %}</small></div>
{% endblock %}
