<!DOCTYPE html>
<html manifest="cache.manifest">
    <head>
        <title>Slick Notes</title>
        <link rel="stylesheet" href="{{ jquery_mobile_css_uri }}" />
        <script src="{{ jquery_uri }}"></script>
        <script src="{{ jquery_mobile_js_uri }}"></script>
        <script type="text/javascript">

        var TomboyWeb = {
            root_uri: '{{ root_uri }}',
            notes_uri: null,

            _get_notes: function(params, callback) {
                if(this.notes_uri == null) {
                    var that = this;
                    $.getJSON(this.root_uri, null, function(root) {
                        $.getJSON(root['user-ref']['api-ref'], null, function(user) {
                            that.notes_uri = user['notes-ref']['api-ref'];
                            that._get_notes(params, callback);
                        });
                    });
                } else {
                    // TODO: On certain errors, set notes_uri to null and
                    //       start from scratch
                    $.getJSON(this.notes_uri, params, callback);
                }
            },

            get_updates_since: function(version, noteJsonCallback) {
                this._get_notes({include_notes:true, since:version},
                                noteJsonCallback);
            },

            get_note_list: function(minimalNoteJsonCallback) {
                this._get_notes(null, minimalNoteJsonCallback);
            }
        };

        var OfflineNotesDatabase = {
            db: null,

            init_db: function() {
                // NOTE: openDatabase can only be called once, so init_db should
                //       also only be called once (could protect against this?)
                this.db = openDatabase('Notes', 0.1, 'Tomboy Online Notes', 5*1024*1024);
                this.check_db();
            },

            check_db: function() {
                // TODO: Error-checking, encapuslation, etc
                this.db.transaction(function(tx) {
                    tx.executeSql('CREATE TABLE IF NOT EXISTS ' +
                                  'notes(guid TEXT PRIMARY KEY ON CONFLICT REPLACE, title TEXT, content TEXT)',
                                  []);
                });
            },

            wipe_db: function() {
                this.db.transaction(function(tx) {
                    tx.executeSql('DROP TABLE notes');
                });
            },

            insert_note: function(guid, title, content, insertedRowCallback) {
                // TODO: Should we handle case where there is no desired callback?
                this.db.transaction(function(tx) {
                    tx.executeSql('INSERT INTO notes(guid, title, content) VALUES (?,?,?)',
                                  [guid, title, content],
                                  insertedRowCallback,
                                  OfflineNotesDatabase.on_error);
                });
            },

            _select_from_notes: function(params, where, selectedRowCallback) {
                var sql = "SELECT " + params + " FROM notes";
                if(where) {
                    sql += " WHERE " + where;
                }
                var selection_processor = function(tx, rs) {
                    for(var i=0; i < rs.rows.length; i++) {
                        var note = rs.rows.item(i);
                        selectedRowCallback(note);
                    }
                };
                this.db.readTransaction(function(tx) {
                    tx.executeSql(sql,
                                  [],
                                  selection_processor,
                                  OfflineNotesDatabase.on_error);
                });
            },

            select_notes: function(selectedRowCallback) {
                this._select_from_notes("*", null, selectedRowCallback);
            },

            select_note_guids: function(selectedRowCallback) {
                this._select_from_notes("guid", null, selectedRowCallback);
            },

            deleteAtGuid: function(guid, onSuccess) {
                this.db.transaction(function(tx) {
                    tx.executeSql("DELETE FROM notes WHERE guid=?", [guid],
                                  onSuccess,
                                  OfflineNotesDatabase.on_error);
                });
            },

            on_error: function(tx, e) {
                alert("There has been a db error: " + e.message);
            },
        };

        $(function() {
            // Set up controls
            $('#wipe').bind('click', function(event) {
                OfflineNotesDatabase.wipe_db();
                localStorage.setItem('latest-sync-revision', -1);
                $('#note-title-list > li').remove();
            });
            $('#beginSync').bind('click', function(event) {
                // TODO: Obviously this whole function should be refactored into
                //       one or two calls to a NoteSync object
                OfflineNotesDatabase.check_db();
                var lastSyncRev = localStorage.getItem('latest-sync-revision');
                if (lastSyncRev == null)
                    lastSyncRev = -1;

                TomboyWeb.get_updates_since(lastSyncRev, function(notes) {
                    var insertCallbackMaker = function(note) {
                        return function() {
                            // TODO: Ugh, this is gross. Calling this method
                            //       with both JSON objects and db row objects
                            note.content = note['note-content'];
                            add_note_list_item(note);
                        };
                    };
                    for(var i=0; i < notes.notes.length; i++) {
                        var note = notes.notes[i];
                        // NOTE: Tricky ON CONFLICT REPLACE option makes this INSERT
                        //       magically turn into a DELETE+INSERT if the row already
                        //       exists.
                        // TODO: This is probably wasteful since we should most likely
                        //       prefer optimizing the UPDATE case over the new INSERT
                        //       case.
                        OfflineNotesDatabase.insert_note(note.guid, note.title, note['note-content'],
                                                         insertCallbackMaker(note));
                    }
                    // TODO: Error-handling whenever using localStorage (applies elsewhere)
                    localStorage.setItem('latest-sync-revision', notes['latest-sync-revision']);
                    //$('#status').html('Processed ' + notes.notes.length + ' note updates, not including deletions');
                });

                // Look for note that have been deleted on the server
                TomboyWeb.get_note_list(function(noteInfo) {
                    var allNoteGuids = [];
                    for(var i=0; i < noteInfo.notes.length; i++) {
                        allNoteGuids.push(noteInfo.notes[i].guid);
                    }
                    OfflineNotesDatabase.select_note_guids(function(noteInfo) {
                        var guid = noteInfo.guid;
                        if (allNoteGuids.indexOf(guid) == -1) {
                            OfflineNotesDatabase.deleteAtGuid(guid, function(tx,rs) {
                                $('#note-title-list > li#' + guid).remove();
                            });
                        }
                    });
                });
            });

            // TODO: Refactor, move somewhere reasonable
            function add_note_list_item(note) {
                $('<li id="' + note.guid + '"><a href="#' + note.guid + '-page">' + note.title + '</a></li>').appendTo('#note-title-list');
                $('li#' + note.guid).bind('mouseenter', note, function(event) {
                    $('.note-content-page').remove();
                    var note = event.data;

                    // Convert content XML to HTML
                    // (based on MDC example, could be cleaner)
                    var parser2 = new DOMParser();
                    var xsltProcessor=new XSLTProcessor();
                    var req = new XMLHttpRequest();
                    req.open("GET", "{{ note_xml_to_html_xsl_uri }}", false);
                    req.send(null);
                    var xsldoc = req.responseXML;
                    xsltProcessor.importStylesheet(xsldoc);
                    var dom = parser2.parseFromString('<note-content version="0.1" xmlns:link="http://beatniksoftware.com/tomboy/link" xmlns:size="http://beatniksoftware.com/tomboy/size" xmlns="http://beatniksoftware.com/tomboy">' + note.content + '</note-content>',
                                                      'text/xml');
                    var html = xsltProcessor.transformToFragment(dom, document);

                    var pageId = note.guid + '-page';

                    $('<div data-role="page" class="note-content-page" id="' + pageId + '">' +
                      '<div data-role="header"><h1>' + note.title + '</h1></div>' +
                      '<div data-role="content"><p></p></div>')
                      .page()
                      .insertAfter('#note-list-page');

                    $('div#' + pageId + ' [data-role="content"] p').append(html);
                });
                //$('li#' + note.guid).bind('mouseleave', note, function(event) {
                //    var note = event.data;
                //    $('div#' + note.guid + '-page').remove();
                //});
                $("#note-title-list").listview('refresh');
            }

            OfflineNotesDatabase.init_db();

            // Show cached notes
            OfflineNotesDatabase.select_notes(add_note_list_item);
        });
        </script>
    </head>

    <body>

        <div data-role="page" id="main-page">
            <div data-role="header"><h1>Slick Notes</h1></div>
            <div data-role="content">
                <a href="#" id="beginSync" data-role="button">Sync Notes</a>
                <a href="#" id="wipe" data-role="button">Clear Offline Storage</a>
                <a href="#note-list-page" data-role="button">View Notes List</a>
            </div>
        </div>

        <div data-role="page" id="note-list-page">
            <div data-role="header"><h1>Slick Notes</h1></div>
            <div data-role="content">
                <ul id="note-title-list" data-role="listview" />
            </div>
        </div>

    </body>
</html>
