<!DOCTYPE html>
<html manifest="cache.manifest">
    <head>
        <title>Tomboy Offline</title>
        <link rel="stylesheet" href="{{ jquery_mobile_css_uri }}" />
        <script src="{{ jquery_uri }}"></script>
        <script src="{{ jquery_mobile_js_uri }}"></script>
        <script src="slicknotes.js"></script>
    </head>

    <body>

        <div data-role="page" id="main-page">
            <div data-role="header"><h1>Tomboy Offline</h1></div>
            <div data-role="content">
                <a href="#" id="beginSync" data-role="button">Sync Notes</a>
                <a href="#" id="wipe" data-role="button">Clear Offline Storage</a>
                <a href="#note-list-page" data-role="button">View Notes List</a>
            </div>
        </div>

        <div data-role="page" id="note-list-page">
            <div data-role="header"><h1>Tomboy Offline</h1></div>
            <div data-role="content">
                <ul id="note-title-list" data-role="listview" />
            </div>
        </div>

    </body>
</html>
