<!DOCTYPE html>
<html manifest="cache.manifest">
    <head>
        <title>Tomboy Offline</title>
        <link rel="stylesheet" href="{{ jquery_mobile_css_uri }}" />
        <script src="{{ jquery_uri }}"></script>
        <script src="{{ jquery_mobile_js_uri }}"></script>
        <script src="{{ underscore_uri }}"></script>
        <script src="{{ backbone_uri }}"></script>
        <script src="slicknotes.js"></script>
    </head>

    <body>

        <div data-role="page" id="main-page">
            <div data-role="header"><h1>Tomboy Offline</h1></div>
            <div data-role="content">
                <a href="#" id="beginSync" data-role="button">Sync Notes</a>
                <a href="#" id="wipe" data-role="button">Clear Offline Storage</a>
                <a href="#note-list-page" data-role="button">View Notes List</a>
            </div>
        </div>

        <div data-role="page" id="note-list-page">
            <div data-role="header"><h1>Tomboy Offline</h1></div>
            <div data-role="content">
                <!-- data-inset used to make 'load' button format correctly
                     Should remove if button (and any other inline widgets)
                     are no longer needed (like if we auto-load when scroll
                     hits bottom of list) -->
                <!-- Using separate </ul> closing tag because self-closing <ul>
                     led to formatting bug where jquery-mobile tried to put
                     'load' button inside note list -->
                <ul id="note-title-list" data-role="listview" data-inset="true"></ul>
                <a href="#" id="load-more-notes" data-role="button">Load More Notes...</a>
            </div>
        </div>

    </body>
</html>
